<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="unchi"></div>
        <form v-on:submit.prevent><!--submitを強制無効-->
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">Add</button>
        </form>
        <ul><!--todosをtodo(value)とindex(インデックス)に分ける-->
            <li v-for="(todo,index) in todos">
                <!--チェックボックスのデフォルト false　チェックするとtrueになる-->
                <input type="checkbox" v-model="todo.isDone">
                <!--v-bind:class でdoneというクラスを追加-->
                <span v-bind:class="{done: todo.isDone}">
                    {{todo.item}}
                </span>
                <!--削除ボタン-->
                <button v-on:click="deleteItem(index)">
                    Delete
                </button>
            </li>
        </ul>
        <ul>
            <select >
                <option>選択してください</option>
                <option v-for="todo in todos">{{todo.item}}</option>
            </select>
        </ul>
        <span v-text="msg"></span>
    <!--<pre>{{$data}}</pre>-->
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
    <script>
        const promise = new Promise((resolve) => {
            resolve()
        }).then(() =>{
            console.log("resolveした")
        });
        console.log(promise)

        const promise2 = new Promise((resolve, reject) => {
            setTimeout(()=>{
                console.log("resolveしたぁよ");
                reject();
            },1000)
        }).then(() => {
            setTimeout(()=>{
                console.log("resolveしたよ");
            },1000)
        }).catch(() => {
            document.body.style.backgroundColor = 'red';
            document.getElementById('unchi').textContent = 'うんち'
            console.log("1秒後にrejectしたよ。。うんち");
        });
        console.log(promise2)
    </script>
</body>
</html>