<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="css/main.css">-->
    <style>

    </style>
    <title>Document</title>
</head>
<body>
        <!--ここに説明を入れる-->
    <div id="app">
        <p>base price: <input type="text" v-model="basePrice"></p>
        <p>tax included price: <input type="text" v-model="taxIncludedPrice"></p>
    <!--<pre>{{$data}}</pre>-->
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script>
        const app = Vue.createApp({
            data : () => ({
                basePrice : 100
            }),
            computed : {
                taxIncludedPrice: {
                    //basePriceの値を「ゲットした時」に実行(get=受け取る)
                    get : function() {
                        return this.basePrice * 1.1
                    },
                    //自分自身(taxIncludedPrice)に値を「セットした時」に実行(set=送る)
                    set : function(value) {
                        this.basePrice = value / 1.1
                    }
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>